body {
    font-family: 'Sedgwick Ave', cursive;
    font-weight: normal;
    background: #fe8c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 10px 20px;
}

a {
    color: black;
    font-size: 14px;

}

input {
    display: block;
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#container {
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

#main {
    margin-bottom: 20px;
}

#info {
    text-align: center;
}

#submit {
    margin-top: 20px;
    background-color: #297fb9;
    color: white;
}